@charset "UTF-8";
body {
  background: linear-gradient(55deg, #4E75B9 30%, #5CBF98 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 50px 100px;
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  cursor: default;
}

body * {
  box-sizing: border-box;
  text-decoration: none;
  color: #000 ;
}

div a {
	box-shadow: 1px 0px 15px -3px rgba(91,169,217,0.3);
}

.timeline-main
{
  width: 100%;
  max-width: 800px;
  background: #fff;
  padding: 50px 50px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.intro
{
  background-color: #fff;
  margin-bottom: 20px; 
}

.intro h1
{
  margin: 0;
}

.intro p
{
  font-size: 15px;
  text-indent: 1.5em;
}

.timeline {
  width: 100%;
   position: relative;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 4px;
  left: calc(32% + 5px);
  bottom: 0px;
  width: 4px;
  background: #ddd;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}


.timeline-main h2, h1
{
  text-align: center;
}

.timeline-main p
{
  text-align: justify;
}

.skills > ul
{
  line-height: 1.75;
  padding: 0;
  list-style-type: none;
}

.contact-information
{
  margin-top: 20px; 
  width: 100%;
  position: relative;
}

.contact-information h2
{
  text-align: center;
}

.contact-information .far, .fas
{
  color: #5CBF98;
  font-size: 15px;
  margin-right: 5px;

}

.contacts p
{
  margin: 0;
}

.socials
{
  float: right;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials > a
{
  color: #333;
  background-color: rgba(92, 191, 152, 1);
  text-align: center;
  margin: 10px;
  padding: 2px;
  width: 28px;
  height: 28px;
  display: block;
  border-radius: 12px;
  float: left;
  -webkit-transition: background-color .25s ease;
  -o-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.socials > a:hover
{
  background-color: rgba(92, 191, 152, 0.8);
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: .5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #5CBF98;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -8px;
  z-index: 99;
}
.entry .title h3 {
  margin: 0;
  font-size: 120%;
  font-size: 20px;
  letter-spacing: 3px;
}
.entry .title p {
  margin: 0;
  font-size: 100%;
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}

.entry .body p {
  margin-top: 0;
  font-weight: 400;
  line-height: 1.4em;
}
.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: disc;
}
.entry .body p:not(#first){
	margin-top: 10px;
}

.entry .body ul span
{
  color: #333;
  font-weight: 400;
}
